.repl_history
build
tags
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
ui.xcodeproj
ib.xcodeproj
vendor/Pods
.dat*.*
.idea
testflight_setup.rb
app/testflight_launcher.rb

/scripts/artwork/
